<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}} &ndash; Execute Big Research</title>
    <link rel="stylesheet" href="/static/assets/css/style.css" />
    <link rel="icon" type="image/png" href="/static/assets/icon.png" />

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900&display=swap" media="print" onload="this.media='all'" />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900" />
    <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Nunito:wght@900&display=swap" /></noscript>

    {{{block 'head-inject'}}}
</head>

<body>
    <div class="Site-Content">
        <section class="hero is-medium">
            <img class="hero-pig" src="/static/assets/steak-blue.svg">
            <div class="hero-body">
                <div class="container">
                    <div class="columns">
                        <div class="column is-8">
                            {{{block 'hero-inject'}}}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container main">
                {{{body}}}
            </div>
        </section>
    </div>

    {{>footer}}

    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" type="text/javascript" defer></script>
    <script async defer data-website-id="4c76e313-5baa-424c-b79e-324fa037683a" src="https://umami.executebig.org/umami.js"></script>
    
    {{{block 'foot-inject'}}}
</body>

</html>