<article class="panel is-link">
  <p class="panel-heading">
    Submissions: {{ n }} <span class="live-dot">&bull;</span><span class="hint">Live from Airtable</span>
  </p>
  {{#each data}}
  <a class="panel-block is-active" href="/admin/submission/{{id}}">
    <strong>{{Autonumber}}. {{"Event Name"}}</strong>&ensp;<span class="tag is-dark">{{formatDate Start "MMMM Do YYYY, ha"}}</span>&ensp;<span
      class="tag is-warning">{{#if Online}}Online{{else}}{{"Event Location"}}{{/if}}</span>

    <div style="position: absolute; right: 15px;">
        <span class="tag">{{id}}</span>
    </div>
  </a>
  {{/each}}
</article>