{{#extend "head-inject"}}
<style>
    td:nth-child(1) {
        font-weight: 800;
        text-align: right !important;
    }

    .submitted td:nth-child(1) {
        width: 20%;
    }
</style>
{{/extend}}

{{#data}}
<nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
        <li><a href="/admin">Research</a></li>
        <li class="is-active"><a href="/submission/{{id}}">Submission #{{Autonumber}}</a></li>
    </ul>
</nav>

<div class="columns">
    <div class="column">
        <h1 class="title is-3">{{Autonumber}}. {{"Event Name"}}
            {{#if Complete}}
            <span class="tag is-success">Completed</span>
            {{else}}
            <span class="tag is-warning">Pending</span>
            {{/if}}
        </h1>

        <table class="table is-fullwidth is-hoverable submitted">
            <tbody>
                <tr>
                    <td>Event Logo</td>
                    <td>{{#if Logo}}<img src="{{Logo.0.url}}" style="height: 100px;">{{else}}Not Submitted{{/if}}</td>
                </tr>
                <tr>
                    <td>Event Contact</td>
                    <td>{{"Event Contact"}}</td>
                </tr>
                <tr>
                    <td>Contact Email</td>
                    <td><a href="mailto:{{"Contact Email"}}">{{"Contact Email"}}</a></td>
                </tr>
                <tr>
                    <td>Event Location</td>
                    <td>{{#if Online}}Online{{else}}<a href="http://maps.google.com/?q={{"Event Location"}}"
                            target="_blank">{{"Event Location"}}</a>{{/if}}</td>
                </tr>
                <tr>
                    <td>Event Start</td>
                    <td>{{formatDate Start "MMMM Do YYYY, ha"}}</td>
                </tr>
                <tr>
                    <td>Event End</td>
                    <td>{{formatDate End "MMMM Do YYYY, ha"}}</td>
                </tr>

                {{#if Complete}}

                <tr>
                    <td>Scope</td>
                    <td>{{Scope}}</td>
                </tr>
                <tr>
                    <td>Data Sheet</td>
                    <td><a class="button is-small is-link" href="{{Sheet.0.url}}">
                            <span class="icon is-small">
                                <i class="fas fa-download"></i>
                            </span><span>Download</span></a></td>
                </tr>
                <tr>
                    <td>Budget Range</td>
                    <td>${{Budget}}</td>
                </tr>
                <tr>
                    <td>Financial Aid</td>
                    <td>${{Finaid}} ({{percentage Finaid Budget}} of budget)</td>
                </tr>
                <tr>
                    <td>Marketing</td>
                    <td>{{Marketing}}</td>
                </tr>
                <tr>
                    <td>Mentors</td>
                    <td>{{tf Mentors}}</td>
                </tr>
                <tr>
                    <td>Workshops</td>
                    <td>{{tf Workshops}}</td>
                </tr>
                {{#if Notes}}
                <tr>
                    <td>Notes</td>
                    <td>{{Notes}}</td>
                </tr>
                {{/if}}
                <tr>
                    <td>Leadership</td>
                    <td><textarea class="textarea" readonly>{{Leadership}}</textarea></td>
                </tr>
                <tr>
                    <td>Lead Displayed</td>
                    <td>{{tf (lookup this "Lead Profiles")}}</td>
                </tr>
                <tr>
                    <td>Attrition</td>
                    <td>{{percentage Attrition 1}}</td>
                </tr>
                <tr>
                    <td>Hackathon?</td>
                    <td>{{tf isHackathon}}</td>
                </tr>
                {{#if isHackathon}}
                <tr>
                    <td>Projects Submitted</td>
                    <td>{{"Projects Submitted"}}</td>
                </tr>
                {{/if}}

                {{/if}}
            </tbody>
        </table>
    </div>
    <div class="column is-one-third">
        <h1 class="title is-3">Statistics (Unfinished)</h1>
        <p class="subtitle is-6">Staff instructions: Please interpret data from the data sheet and enter the key metrics
            here.</p>
        <form action="/admin/update/{{id}}" method="POST">
            <table class="table is-fullwidth is-hoverable">
                <tbody>
                    <tr>
                        <td>Registered</td>
                        <td><input class="input is-small" type="number" value="{{Registered}}" name="registered"></td>
                    </tr>

                    <tr>
                        <td>Attended</td>
                        <td><input class="input is-small" type="number" value="{{Attended}}" name="attended"></td>
                    </tr>

                    <tr>
                        <td>Gender URM</td>
                        <td><input class="input is-small" type="number" value="{{GenderURM}}" name="genderURM"></td>
                    </tr>

                    <tr>
                        <td>Racial URM</td>
                        <td><input class="input is-small" type="number" value="{{RacialURM}}" name="racialURM"></td>
                    </tr>

                    <tr>
                        <td>

                        </td>
                        <td>
                            <button class="button is-small is-link is-fullwidth" type="submit">Update</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

{{/data}}