<div class="field">
  <label class="label{{#if required}} required{{/if}}">{{label}}</label>
  <div class="control">
    <textarea class="textarea" name="{{name}}" placeholder="{{placeholder}}" {{#if rows}} rows="{{rows}}" {{/if}}
      {{#if required}} required{{/if}}></textarea>
  </div>
  <p class="help">{{help}}</p>
</div>